<!DOCTYPE html>
<html>

<head>
	<title>CreateJob</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<script src="{{ url_for('static', filename='ace-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>

<style type="text/css" media="screen">
    #editor {
        position: relative;
				width: 100%;
				margin: 0 auto;
				height: 300px;
				transition: height .5s;
				-webkit-transition: height .5s;
    }
</style>

</head>

<body>

	<!-- messages -->
	{% for message in get_flashed_messages() %}
	<h6>{{ message }}</h6>
	{% endfor %}
	<p>Click <a href="/logout">here</a> to logout.</p>

	<p hidden id="pEmail" name>{{ email }}</p>


	<!-- <div id="editor">function foo(items) {
	    var x = "All this is syntax highlighted";
	    return x;
	}</div> -->



	<div class="col-lg-1"></div>
	<form class="col-lg-9" id="submitJob" method="POST" enctype="multipart/form-data" action="http://localhost:8000/accept">
		<h1 class="display-4">Distributed Task Code</h1>

		<div id="editor">
// Sample function
function square(num) {return num * num;}
			</div>

			<!-- <div class="form-group">
				<textarea name="typedCode" class="form-control" rows="3" placeholder="Paste your javascript here"></textarea>
			</div> -->

		<div class="form-group">
	    	<label for="exampleInputFile">File input</label>
	    	<input name="fileCode" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
	    	<small id="fileHelp" class="form-text text-muted">Insert a function that executes the task in a distributed fashion.</small>
	  	</div>

		<hr>
		<div id="jobs_field"> <!-- div for jobs -->
			<div id="selectedJobs"></div>
			</div>
			<div class="form-group">
	    		<h1 class="display-4" style="float:left; padding-right: 20px">Jobs</h1> <p style="display:none;" id="jsonPopup">Data should be in JSON format corresponding to your getJob function.</p>
	    		<input placeholder="Ex: {i = 100000, j = 100000, A = matrixA, B = matrixB}" class="form-control" id="job_field"/>
	  		</div>
	  		<div class="form-group">
	  			<button href="#" id ="createJob">Create new Job</button>
	  		</div>
	  		<div class="form-group">
	  			<label for="exampleInputFile">File input</label>
	    		<input name="tasksFile" type="file" class="form-control-file" id="tasksFile" aria-describedby="fileHelp">
	    		<small id="fileHelp" class="form-text text-muted">Or submit a file where each 	line is a task with JSON formatted inputs to your function</small>
	    	</div>
		</div>
		<input type="hidden" id="emailInput" name="email" value = "" >
		<input type="hidden" id="typedCode" name="typedCode" value = "" >

		<div class="col-xs-3"></div>
		<button class="btn-lg" id="submitJobs" type="submit">Submit</button>
		<div class="col-xs-3"></div>


	</form>
	<div class="col-lg-1"></div>

<script>
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.getSession().setMode("ace/mode/javascript");
		editor.getSession().on('change', function(e) {
			  $('#typedCode').val(editor.getValue())
				console.log(editor.getValue());
		});
</script>

	<!-- Include JQuery -->
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>

	<!-- Include Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Include Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="{{ url_for('static', filename='createJob.js') }}"></script>

	</body>
	</html>
