<!DOCTYPE html>
<html>

<head>
	<title>CreateJob</title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<script src="{{ url_for('static', filename='ace-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>

<style type="text/css" media="screen">
    #editor {
        position: relative;
				width: 100%;
				margin: 0 auto;
				height: 300px;
				transition: height .5s;
				-webkit-transition: height .5s;
    }
</style>

</head>

<body>

	<div id="wrapper">

             <!-- Header -->
                    <header id="header" class="alt">
                        <a href="/" class="logo"><strong>Browse</strong> <span>for Humanity</span></a>
                        <nav>
                            <a href="/logout">Logout</a>
                        </nav>
                    </header>

	<!-- messages -->
	{% for message in get_flashed_messages() %}
	<h5>{{ message }}</h5>
	{% endfor %}

	<p hidden id="pEmail" name>{{ email }}</p>

	<div class="col-lg-1"></div>
	<form class="col-lg-9" id="submitJob" method="POST" enctype="multipart/form-data" action="{{ formAddress }}">
		<header class="major">
			<h2>Distributed Task's Code</h2>
			</header>
		<div id="editor">
// Sample function
function square(num) {return num * num;}
			</div>

			<!-- <div class="form-group">
				<textarea name="typedCode" class="form-control" rows="3" placeholder="Paste your javascript here"></textarea>
			</div> -->
			<br>
		<div class="form-group">
	    	<label for="exampleInputFile">File input</label>
	    	<input name="fileCode" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
	    	<small id="fileHelp" class="form-text text-muted"> Insert a function that executes the task in a distributed fashion</small>
	  	</div>

		<hr>
		<div id="jobs_field"> <!-- div for jobs -->
			<div id="selectedJobs"></div>
			</div>
			<header class="major">
			<h2>Task Distribution</h2>
			</header>
			<!--<div class="form-group">
	    		<p style="display:none;" id="jsonPopup">Data should be in JSON format corresponding to your getJob function.</p>
	    		<input placeholder="Ex: {i = 100000, j = 100000, A = matrixA, B = matrixB}" class="form-control" id="job_field"/>
	  		</div>
	  		<div class="form-group">
	  			<ul class="actions vertical">
										<li><a href="#" class="button fit">Create A New Job</a></li>
										</ul>
	  		</div> -->
	  		<div class="form-group">
	  			<label for="exampleInputFile">File input</label>
	    		<input name="tasksFile" type="file" class="enter" id="tasksFile" aria-describedby="fileHelp">
	    		<small id="fileHelp" class="form-text text-muted"> Submit a File where each line is a task with JSON formatted inputs to your function</small>
	    	</div>
		</div>
		<hr>
		<input type="hidden" id="emailInput" name="email" value = "" >
		<input type="hidden" id="typedCode" name="typedCode" value = "" >

		<center><button class="button" id="submitJobs" type="submit">Submit</button></center>
		<br>

	</form>
	<div class="col-lg-1"></div>

	<!-- Include JQuery -->
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>

<script>
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monokai");
		editor.getSession().setMode("ace/mode/javascript");
		$('#typedCode').val(editor.getValue())
		editor.getSession().on('change', function(e) {
			  $('#typedCode').val(editor.getValue())
				console.log(editor.getValue());
		});
</script>



	 <!-- Include CSS -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css') }}" />

	<!-- Include Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="{{ url_for('static', filename='createJob.js') }}"></script>
</div>
	</body>
	</html>
