<!DOCTYPE html>
<html>

<head>
    <title>CreateJob</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
</head>

<body>

<div id="wrapper">

             <!-- Header -->
                    <header id="header" class="alt">
                        <a href="index.html" class="logo"><strong>Browse</strong> <span>for Humanity</span></a>
                        <nav>
                            <a href="/logout">Logout</a>
                        </nav>
                    </header>

        <div id="main">

                        <!-- One -->
                            <section id="one" class="tiles">
                                <article>
                                    <span class="image">
                                        <img src="images/pic07.jpg" alt="" />
                                    </span>
                                    <header class="major">
                                        <ul class="actions vertical">
                                        <a href="{{ url_for('createJob') }}" class="button fit">Create Jobs</a>
                                        </ul>
                                        <p> Experience the power</p>
                                    </header>
                                </article>
                                <article>
                                    <span class="image">
                                        <img src="images/pic06.jpg" alt="" />
                                    </span>
                                    <header class="major">
                                        <ul class="actions vertical">
                                        <a href="{{ url_for('viewJobs') }}" class="button fit">View Jobs</a>
                                        </ul>
                                        <p> View Current and Pending Jobs</p>
                                    </header>
                                </article>
                                
                            </section>
                        </div>
    <br>
    {% for message in get_flashed_messages() %}
    <center><h4>{{ message }}</h4> </center>
    {% endfor %}

    <p hidden id="pEmail" name>{{ email }}</p>

    <!-- Include JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <!-- Include CSS -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css') }}" />

    <!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='createJob.js') }}"></script>
    </div>
    </body>
    </html>
