<!DOCTYPE html>
<html>

<head>
	<title>Login</title>

	<style type="text/css" media="screen">
    form article label {
      display: block;
      margin: 5px;
    }
    form .submit {
      margin: 15px 0;
    }
  </style>

</head>

<body>

	<!-- Include JQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<!-- Include CSS -->
	<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css') }}" />

	<!-- Include Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="{{ url_for('static', filename='login.js') }}"></script>



<div id="wrapper">
	<header id="header" class="alt">
						<a href="/" class="logo"><strong>Browse</strong> <span>for Humanity</span></a>
					</header>
	<div class="container">
		<form action="{{ formAddress }}" method="POST" role="form" class="form-signin">
			<h2> <center>Credentials </center></h2>
			<div class="field half first">
				<label for="email">Email</label>
				<input type="text" name="email" id="emailAddress" />
			</div>
			<div class="field half">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" />
			</div>
			<hr>

			{% if debug %}
			<center><input id="submit" name="submit" type="submit" value="Login" class="btn btn-primary"></center>
			{% endif %}

			{% if not debug %}
			<center><input
				id ="checkoutScreen"
	            type="submit"
	            value="Login"
	            data-key="{{key}}"
	            data-email="example@example.com"
	            data-image="./static/images/icon128.png"
	            data-currency="usd"
	            data-name="Register Your Card"
	            data-description="Charges incurred on data download"
	        /></center>

	        <script src="https://checkout.stripe.com/v2/checkout.js"></script>
	        <script>
	        $(document).ready(function() {
	            $(':submit').on('click', function(event) {
	                event.preventDefault();
	                var $button = $(this),
	                    $form = $button.parents('form');
	                var opts = $.extend({}, $button.data(), {
	                    token: function(result) {
	                        $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
	                    }
	                });
	                StripeCheckout.open(opts);
	            });
	        });
	        </script>
			{% endif %}

		</form>

		{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }}</p>
		{% endif %}

		<!-- messages -->
		{% for message in get_flashed_messages() %}
		{{ message }}
		{% endfor %}
	</div>
	</div>

	<script>
			$(document).ready(function(e) {
				$("#checkoutScreen").attr("data-email", $("#emailAddress").val())
				$("#emailAddress").change(function() {
					$("#checkoutScreen").attr("data-email", $(this).val())
				})
			})
		</script>

</body>
</html>
