<!DOCTYPE html>
<html>

<head>
    <title>CreateJob</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
</head>

<body>

    <!-- messages -->
    <!-- {% for message in get_flashed_messages() %}
    <h6>{{ message }}</h6>
    {% endfor %}
    <p>Click <a href="/logout">here</a> to logout.</p> -->

    <!-- <div class="col-xs-4"></div> -->
    {% for message in get_flashed_messages() %}
    <div>
        <hr>
        <div class="col-xs-3"></div>
        <div>
        <label class="col-xs-3">Filename: {{ message.filename }}</label>
        <label>Time Taken: {{ message.time }}</label>
        <a class="col-xs-4" href="{{ url_for('download', filename = message.filename) }}">Download File</a>
        </div>
        <div class="col-xs-4"></div>

        <hr>
    </div>
    {% endfor %}
    <!-- <div class="col-xs-4"></div> -->


    <!-- Include JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='createJob.js') }}"></script>

    </body>
    </html>
