<!DOCTYPE html>
<html>

<head>
    <title>CreateJob</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
</head>

<body>

    <!-- messages -->
    <!-- {% for message in get_flashed_messages() %}
    <h6>{{ message }}</h6>
    {% endfor %}
    <p>Click <a href="/logout">here</a> to logout.</p> -->

    <!-- <div class="col-xs-4"></div> -->
    <div id="wrapper">

             <!-- Header -->
                    <header id="header" class="alt">
                        <a href="/" class="logo"><strong>Browse</strong> <span>for Humanity</span></a>
                        <nav>
                            <a href="/logout">Logout</a>
                        </nav>
                    </header>
            <center><header class="major">
              <h2>Current and Pending Jobs</h2>
            </header></center>
    {% for message in get_flashed_messages() %}
    <div>
    <center>
        <div class="col-xs-3"></div>
        <div>
        <label class="col-xs-3">Filename: {{ message.filename }}</label>
        <label>Time Taken: {{ message.time }}</label>
        <a class="button special" href="{{ url_for('download', filename = message.filename) }}">Download File</a>
        </div>
        <div class="col-xs-4"></div>
        </center>
        <hr>
    </div>
    {% endfor %}
    <!-- <div class="col-xs-4"></div> -->


    <!-- Include JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <!-- Include CSS -->
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css') }}" />

    <!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='createJob.js') }}"></script>
</div>
    </body>
    </html>
